*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  background: white;
  font-family: sans-serif;
}

.content__container{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.loading{
  width: 10rem;
  height: 10rem;
}